// Toolbar
.mat-toolbar.mat-primary {
    background-color: #FFC300;
    color: #121212;
}

span {
    font-family: Oswald;
}

// Tab
.fluid-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.tab {
    padding-top: 7px;
    background-color: #FFC300;
    padding-bottom: 7px;
}