// Toolbar
.mat-toolbar.mat-primary {
    background-color: #FFC300;
    color: #121212;
}

// Intro
.landing-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.landing {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
}

#subtitle {
    margin-top: 40px;
    color: #470A4D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

#description {
    color: #121212;
    font-style: normal;
    font-weight: normal;
}

.button {
    font-family: Roboto;
    margin-top: 5px;
    width: 100%;
    color: #470A4D;
    border-radius: 8px;
    border-style: solid;
    border-color: #470A4D;
    border-width: 1px;
    margin-bottom: 5px;
}

#register {
    background-color: #470A4D;
    color: #FFFFFF;
}

// ÚLTIMOS EDITAIS ADICIONADOS
#title {
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

// PASSOU POR AQUI
#passed-by-here {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #FFC300;
}

#passed-by-here p {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#passed-by-here .description {
    background-color: #FFFFFF;
    margin-bottom: 15px;
}