<mat-toolbar color="primary" class="container-fluid toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<div class="container-fluid landing-padding">
    <img class="landing" src="assets/pexels-fede-roveda-3635788.jpg" />
    <div class="col-12 col-xl-12">
        
        <!-- Descrição -->
        <p id="subtitle">ACREDITAMOS NO PODER<br>DA OPORTUNIDADE</p>
        <p>Apesar de editais serem a principal forma de financiamento de projetos culturais no Brasil, a 
            maior parte do orçamento destinado a eles está concentrada no Sudeste e, por vezes, não atinge
             os jovens das periferias. O Realiza! quer ouvir histórias que essas pessoas têm para contar e 
             nossa missão é permitir que elas consigam verba para isso!</p>
        <button class="login" id="register">Cadastre-se</button>
        <button class="login" (click)=login()>Entrar</button>
    </div>
</div>