<mat-toolbar color="primary" class="container-fluid toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="col-3 col-xl-1 logo-padding"><img class="logo" src="assets/logoreduzida_roxa.png" /></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>face</mat-icon>
    </button>
</mat-toolbar>
<div class="container-fluid col-12 col-xl-12">
    <p id="title">MEUS PROJETOS</p>
    <mat-list role="list">
        <mat-list-item role="listitem" class="list-item">Item 1</mat-list-item>
        <mat-list-item role="listitem" class="list-item" id="all-items">Ver todos</mat-list-item>
    </mat-list>
    <p id="title">ATALHOS</p>
    <div class="row col-12 col-xl-12">
        <div class="col-3 col-xl-3 shortcuts">
            <div class="shortcut"></div>
            <p>Cadastro de projeto</p>
        </div>
        <div class="col-3 col-xl-3 shortcuts">
            <div class="shortcut"></div>
            <p>Cadastro de edital</p>
        </div>
        <div class="col-3 col-xl-3 shortcuts">
            <div class="shortcut"></div>
            <p>Gestão de projeto</p>
        </div>
        <div class="col-3 col-xl-3 shortcuts">
            <div class="shortcut"></div>
            <p>Prestação de contas</p>
        </div>
    </div>
</div>
