<mat-toolbar color="primary" class="container-fluid toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>face</mat-icon>
    </button>
</mat-toolbar>
<div class="container-fluid col-12 col-xl-12">
    
    <!-- MEUS PROJETOS -->
    <p id="title">MEUS PROJETOS</p>
    <mat-list role="list">
        <mat-list-item role="listitem" class="list-item">Projeto de Curso livre de Capacitação</mat-list-item>
        <mat-list-item role="listitem" class="list-item">Multiplicando Sonhos - Bola de Sonhos</mat-list-item>
    </mat-list>
    <button class="list-item" id="all-items" (click)=projects()>Ver todos</button>

    <!-- ATALHOS -->
    <p id="title">ATALHOS</p>
    <div class="row col-12 col-xl-12">
        <div class="col-3 col-xl-3 shortcuts">
            <div class="shortcut"></div>
            <p>Cadastro de projeto</p>
        </div>
        <div class="col-3 col-xl-3 shortcuts">
            <div class="shortcut"></div>
            <p>Cadastro de edital</p>
        </div>
        <div class="col-3 col-xl-3 shortcuts">
            <div class="shortcut"></div>
            <p>Gestão de projeto</p>
        </div>
        <div class="col-3 col-xl-3 shortcuts">
            <div class="shortcut"></div>
            <p>Prestação de contas</p>
        </div>
    </div>

    <!-- EDITAIS COM PROJETOS ATIVOS -->
    <p id="title">EDITAIS COM PROJETOS ATIVOS</p>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Nome -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Projeto</th>
            <td mat-cell *matCellDef="let element"> 
                {{element.name}} 
                {{element.closingDate}}
            </td>
        </ng-container>

        <!-- Progresso -->
        <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef>Progesso</th>
            <td mat-cell *matCellDef="let element"> 
                {{element.progress}}
                {{element.pendencies}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button class="list-item" id="all-items">Ver todos</button>

    <!-- REDE DE PESSOAS COLABORADORAS -->
    <p id="title">REDE DE PESSOAS COLABORADORAS</p>
    <mat-icon>face</mat-icon>
    <button class="list-item" id="all-items">Ver todos</button>
</div>
<mat-toolbar color="primary" class="container-fluid toolbar footer">
    <span class="col-3 col-xl-1 logo-padding"><img class="logo" src="assets/logonegativa_roxa.png" /></span>
    <span class="example-spacer"></span>
    <span><p><br>@realiza<br>
        contato@realiza.com.br<br>
        +55 32558789</p></span>
</mat-toolbar>