// Toolbar
.toolbar {
    margin-bottom: 15px;
}

.logo-padding {
    padding-left: 0px;
}

.logo {
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background-color: #FFC300;
    color: #121212;
}

// MEUS PROJETOS
#title {
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.list-item {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background-color: #EFEFEF;
    margin-bottom: 1%;
    border-radius: 8px;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 1px;
}

#all-items {
    margin-top: 5px;
    width: 100%;
    color: #470A4D;
    border-radius: 8px;
    border-style: solid;
    border-color: #470A4D;
    border-width: 1px;
    margin-bottom: 5px;
}

// ATALHOS
.shortcuts {
    padding-left: 5px;
    padding-right: 5px;
}

.shortcut {
    height: 56px;
    background-color: #FFC300;
    border-radius: 8px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
}

.shortcuts p {
    font-family: Roboto;
    font-size: 10px;
}

// EDITAIS
table {
    width: 100%;
}